@import "colors";
@import "base";
@import "style";
/*# -=ELEMENTS=- #*/
body {
    .hard();
    .font();
    .v40();
}
a {.blue();}
/*# -=DYNAMIC CLASSES=- #*/

._code {
    .hard();
    .round();
    .mono();
    .v20();
    .w90vw();
    background-color: #303136dd;
    padding: 5px;
    border: 3px solid #292a2eee;
}
._header {
    .white();
    .pad();
    .textL();
    .font();
    .v20();
    weight: 600;
}
._content {
    .pad();
    .hard();
    .textL();
    .white();
    .font();
    .v10();
}
._sect {
    .horz();
    .pad();
    .hard();
    .white();
    .textC();
    .bordBL();
    .bordBR();
    height: 0;
    .v15();
    width: 80vw;
    overflow: hidden;
    transition: height 1s ease;
    background-color: #00666644;
}
._clicky {
    .horz(); 
    .hard(); 
    .white();
    .pad();
    .textC();
    .font();
    .bordT();
    .nohover();
    position: relative;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    .v20();
    font-weight: 600;
    width: 80vw;
    cursor: pointer;
    overflow: hidden;
    background-color: #00888866;
    outline: none;
}
._tabby {
    .floatL();
    .nohover();
    background-color: #223333;;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
._tabby_button {
    .hard();
    .bordL();
    .white();
    .pad();
    width: 30%;
    .textC();
    .v20();
    .font();
    background-color: inherit;
    outline: none;
    cursor: pointer;
    transition: 1s;
}
/* Change background color of buttons on hover */
._tabby_buttonhover {
    .hover();
}

/* Create an active/current "tab button" class */
._tab_buttonactive {
    .select();
}

/* Style the tab content */
._tabby_content {
    .floatL();
    .pad();
    .hover();
    .bordR();
    width: 70%;
    height: 300px;
    .v20();
}
._linky {
    ._clicky();
    .round();
    .fullW();
}
._title {
    .white();
    .hard();
    .textC();
    font-size: 13vw;
}
._foot {
    .white();
    .hard();
    .pad();
    .textC();
    .font();
    .v10();
}
._consect {width: 78vw;}
._warn {
    .horz();
    .white();
    .pad();
    .hard();
    .textL();
    .font();
    .round();
    .v20();
    .w90vw();
    background-color: #ff000088;
}
.btn_after {
    background-color: #88ffffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s;
}
.btn_activeafter {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
.btn_active {
    background-color: #008888aa;
    .bordT();
    .select();
}
