@import "class";

@media only screen and (max-width: 360px) {
    /* SMOL */
    .code {._code(); font-size: 3.1vw;}
    .header {._header(); .v40();}
    .content {._content(); .v30();}
    .warn {._warn(); .v30();}
    .foot {._foot(); .v25();}
    .sect {._sect(); .v25();}
    .clicky {._clicky(); .v35();}
    .linky {._linky(); .v35();}
    .headtitle {._title(); font-size: 20vw;}
    .full {width: 100vw; height: 50vh;}
    .full2 {width: 100vw; height: auto;}
    .tabby_sect {._tabby_content(); .v30();}
    .tabby button {._tabby_button(); .v40();}
}

@media only screen and (max-width: 640px) and (min-width: 361px) {
    /* PHONE */
    .code {._code(); .v30();}
    .header {._header(); .v40();}
    .content {._content(); .v30();}
    .warn {._warn(); .v20();}
    .foot {._foot(); .v20();}
    .sect {._sect(); .v25();}
    .clicky {._clicky(); .v30();}
    .linky {._linky(); .v30();}
    .headtitle {._title(); font-size: 20vw;}
    .full {width: 100vw; height: 50vh;}
    .full2 {width: 100vw; height: auto;}
    .tabby_sect {._tabby_content(); .v30();}
    .tabby button {._tabby_button(); .v40();}
}

@media only screen and (max-width: 1024px) and (min-width: 641px) {
    /* TABLET */
    .code {._code(); .v15();}
    .header {._header(); .v15();}
    .content {._content(); font-size: 1.3vw;}
    .warn {._warn(); .v15();}
    .foot {._foot(); .v10();}
    .sect {._sect(); .v15();}
    .clicky {._clicky(); .v20();}
    .linky {._linky(); .v20();}
    .headtitle {._title(); font-size: 20vw;}
    .full {width: 100vw; height: 100vh;}
    .full2 {width: 100vw; height: auto;}
    .tabby_sect {._tabby_content(); font-size: 1.3vw;}
    .tabby button {._tabby_button(); .v15();}
}

@media only screen and (min-width: 1024px) {
    /* DESKTOP */
    .code {._code(); .v15();}
    .header {._header(); .v15();}
    .content {._content(); font-size: 1.3vw;}
    .warn {._warn(); .v15();}
    .foot {._foot(); .v10();}
    .sect {._sect(); .v15();}
    .clicky {._clicky(); .v20();}
    .linky {._linky(); .v20();}
    .headtitle {._title(); font-size: 20vw;}
    .full {width: 100vw; height: 100vh;}
    .full2 {width: 100vw; height: auto;}
    .tabby_sect {._tabby_content(); font-size: 1.3vw;}
    .tabby button {._tabby_button(); .v15();}
}

/*# -=LISTENERS=- #*/
.clicky:after {
    .btn_after(); 
    .bordT();
}
.clicky.active:after {
    .btn_activeafter();
    .bordT();
}
.clicky.active {
    .select();
}
.clicky:hover {
    .hover();
}
.linky:hover {
    .hover();
}
.linky:after {
    .btn_after(); 
    .round();
}
.linky.active:after {
    .btn_activeafter(); 
    .round();
}
.tabby button {
    .nohover();
}
.tabby button:hover {
    .hover();
}
.tabby button.active {
    .select();
}
