@import (reference) "base/000";
@import (reference) "cls/000";
@import (reference) "md/000";
/*# -=ELEMENTS=- #*/
body {
    .hard(); .font(); .v40();
} a {
    .blue();
} .tabby_sect {
    visibility: hidden;
}
/*# -=VARS=- #*/
/*
@px = {
    bruh: 160px; m580: 240px; mini: 360px;
    phone: 640px; tab: 720px; pc: 1080px;
    large: 1440px; _2k: 2160px; _3k: 3240px;
    _4k: 4320px; _5k: 5480px; _8k: 8640px;
}

@media screen {
    @media (max-width: @px[m580]) {
        .WIDTH {
            .w90vw();
        }
        @fonts {
            code: 3.2vw;
            head: 4.0vw;
            cont: 3.5vw;
            warn: 3.0vw;
            foot: 2.5vw;
            sect: 2.5vw;
            clik: 3.5vw;
            link: 3.5vw;
        }
    }
}
.code {
    ._code(); @fonts[code]; .WIDTH();*/
@media only screen and (max-width: 240px) {
    /* SPH-M580 */
    .WIDTH {
        .w90vw();
    } .code {
        ._code(); font-size: 3.2vw; .WIDTH();
    } .header {
        ._header(); .v40();
    } .content {
        ._content(); font-size: 3.5vw;
    } .warn {
        ._warn(); .v30();
    } .foot {
        ._foot(); .v25();
    } .sect {
        ._sect(); .v25();
    } .clicky {
        ._clicky(); .v35();
    } .linky {
        ._linky(); .v35();
    } .headtitle {
        ._title();
    } .full {
        width: 100vw; height: 50vh;
    } .full2 {
        width: 100vw; height: auto;
    } .tabby button {
        ._tabby_button();
    } .grid5_smol, .grid4_smol, .grid3_smol, .grid2_smol {
        .grid1();
    } .tabby_smol {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .wAUTO();
        .pad(); .textR(); .bordT();
        .header(); .h20vh()
    } .tabby_block_smol {
        ._tabby_block(); .fullW();
        .content(); .scroller(); .h50vh();
        .nordR(); .bordB();
    }
    .changes_contain_smol {
        .grid2();
    }
}

@media only screen and (max-width: 360px) and (min-width: 241px) {
    /* SMOL */
    .WIDTH {
        .w90vw();
    } .code {
        ._code(); font-size: 3.2vw; .WIDTH();
    } .header {
        ._header(); .v40();
    } .content {
        ._content(); font-size: 3.5vw;
    } .warn {
        ._warn(); .v30();
    } .foot {
        ._foot(); .v25();
    } .sect {
        ._sect(); .v25();
    } .clicky {
        ._clicky(); .v35();
    } .linky {
        ._linky(); .v35();
    } .headtitle {
        ._title();
    } .full {
        width: 100vw; height: 50vh;
    } .full2 {
        width: 100vw; height: auto;
    } .tabby button {
        ._tabby_button();
    } .grid5, .grid4, .grid3, .grid2 {
        .grid1();
    } .tabby {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller();
        .pad(); .textR(); .bordT();
        .header(); .v40(); .h20vh();
        width: auto;
    } .tabby_block {
        ._tabby_block(); .fullW();
        .content(); .scroller(); .h50vh();
        .nordR(); .bordB(); font-size: 3.5vw;
    } .contact {
        .WIDTH();
    }
    .changes_contain {
        .grid2();
    } .grid5_smol, .grid4_smol, .grid3_smol, .grid2_smol {
        .grid1();
    } .tabby_smol {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .wAUTO();
        .pad(); .textR(); .bordT();
        .header(); .h20vh()
    } .tabby_block_smol {
        ._tabby_block(); .fullW();
        .content(); .scroller(); .h50vh();
        .nordR(); .bordB();
    }
    .changes_contain_smol {
        .grid2();
    }
}

@media only screen and (max-width: 640px) and (min-width: 361px) {
    /* PHONE */
    .WIDTH {
        .w90vw();
    } .code {
        ._code(); font-size: 3.2vw; .WIDTH();
    } .header {
        ._header(); .v30();
    } .content {
        ._content(); font-size: 2.5vw;
    } .warn {
        ._warn(); .v20();
    } .foot {
        ._foot(); .v15();
    } .sect {
        ._sect(); .v15();
    } .clicky {
        ._clicky(); .v25();
    } .linky {
        ._linky(); .v25();
    } .headtitle {
        ._title();
    } .full {
        width: 100vw; height: 50vh;
    } .full2 {
        width: 100vw; height: auto;
    } .tabby button {
        ._tabby_button();
    } .grid5, .grid4, .grid3, .grid2 {
        .grid1();
    } .tabby {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .wAUTO();
        .pad(); .textR(); .bordT();
        .header(); .v30(); .h20vh();
    } .tabby_block {
        ._tabby_block(); .fullW();
        .content(); .scroller(); .h50vh();
        .nordR(); .bordB(); font-size: 2.5vw;
    } .contact {.WIDTH();}
    .changes_contain {
        .grid2();
    } .grid5_smol, .grid4_smol, .grid3_smol, .grid2_smol {
        .grid1();
    } .tabby_smol {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .wAUTO();
        .pad(); .textR(); .bordT();
        .header(); .h20vh()
    } .tabby_block_smol {
        ._tabby_block(); .fullW();
        .content(); .scroller(); .h50vh();
        .nordR(); .bordB();
    }
    .changes_contain_smol {
        .grid2();
    }
}

@media only screen and (max-width: 1024px) and (min-width: 641px) {
    /* TABLET */
    .WIDTH {
        .w80vw();
    } .code {
        ._code(); .v15(); .WIDTH();
    } .header {
        ._header(); .v15();
    } .content {
        ._content(); font-size: 1.3vw;
    } .warn {
        ._warn(); .v15(); .WIDTH();
    } .foot {
        ._foot(); .v10();
    } .sect {
        ._sect(); .v15(); .WIDTH();
    } .clicky {
        ._clicky(); .v20(); .WIDTH();
    } .linky {
        ._linky(); .v20();
    } .headtitle {
        ._title(); font-size: 20vw;
    } .full {
        width: 100vw; height: 100vh;
    } .full2 {
        width: 100vw; height: 100vh;
    } .tabby button {
        ._tabby_button();
    } .tabby {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .pad(); 
        .bordL(); .textR(); .header(); 
        font-size: 1.3vw;
    } .tabby_block {
        ._tabby_block(); width: 800%;
        .content(); .scroller(); margin-left: 5px;
    } .contact {
        .WIDTH();
    }
    .changes_contain {
        height: 50vh !important; 
        display: flex; 
        flex: 1;
    } .grid5_smol, .grid4_smol, .grid3_smol, .grid2_smol {
        .grid1();
    } .tabby_smol {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .wAUTO();
        .pad(); .textR(); .bordT();
        .header(); .h20vh()
    } .tabby_block_smol {
        ._tabby_block(); .fullW();
        .content(); .scroller(); .h50vh();
        .nordR(); .bordB();
    }
    .changes_contain_smol {
        .grid2();
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
    /* PC */
    .WIDTH {
        .w60vw();
    } .code {
        ._code(); .v15(); .WIDTH();
    } .header {
        ._header(); font-size: 1.2vw;
    } .content {
        ._content(); font-size: 1.0vw;
    } .warn {
        ._warn(); .v15(); .WIDTH();
    } .foot {
        ._foot(); .v10();
    } .sect {
        ._sect(); .v15(); .WIDTH();
    } .clicky {
        ._clicky(); .v20(); .WIDTH();
    } .linky {
        ._linky(); .v20();
    } .headtitle {
        ._title(); font-size: 20vw;
    } .full {
        width: 100vw; height: 100vh;
    } .full2 {
        width: 100vw; height: 100vh;
    } .tabby button {
        ._tabby_button();
    } .tabby {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .pad(); 
        .bordL(); .textR(); .header(); 
        font-size: 1.2vw;
    } .tabby_block {
        ._tabby_block(); width: 800%;
        .content(); .scroller(); margin-left: 5px;
    } .contact {
        .WIDTH();
    }
    .changes_contain {
        height: 50vh !important; 
        display: flex; 
        flex: 1;
    } .grid5_smol, .grid4_smol, .grid3_smol, .grid2_smol {
        .grid1();
    } .tabby_smol {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .wAUTO();
        .pad(); .textR(); .bordT();
        .header(); .h20vh()
    } .tabby_block_smol {
        ._tabby_block(); .fullW();
        .content(); .scroller(); .h50vh();
        .nordR(); .bordB();
    }
    .changes_contain_smol {
        .grid2();
    }
}
@media only screen and (max-width: 1368px) and (min-width: 1281px) {
    /* PC */
    .WIDTH {
        .w50vw();
    } .code {
        ._code(); .v15(); .WIDTH();
    } .header {
        ._header(); .v10();
    } .content {
        ._content(); font-size: 0.8vw;
    } .warn {
        ._warn(); .v15(); .WIDTH();
    } .foot {
        ._foot(); .v10();
    } .sect {
        ._sect(); .v15(); .WIDTH();
    } .clicky {
        ._clicky(); .v20(); .WIDTH();
    } .linky {
        ._linky(); .v20();
    } .headtitle {
        ._title(); font-size: 15vw;
    } .full {
        width: 100vw; height: 100vh;
    } .full2 {
        width: 100vw; height: 100vh;
    } .tabby button {
        ._tabby_button();
    } .tabby {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .pad(); 
        .bordL(); .textR(); .header(); 
        font-size: 1.0vw;
    }
    .tabby_block {
        ._tabby_block(); width: 700%;
        .content(); .scroller(); margin-left: 5px;
    } .contact {
        .WIDTH();
    }
    #changes_contain {
        height: 50vh !important; 
        display: flex; 
        flex: 1;
    } .grid5_smol, .grid4_smol, .grid3_smol, .grid2_smol {
        .grid1();
    } .tabby_smol {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .wAUTO();
        .pad(); .textR(); .bordT();
        .header(); .h20vh()
    } .tabby_block_smol {
        ._tabby_block(); .fullW();
        .content(); .scroller(); .h50vh();
        .nordR(); .bordB();
    }
    .changes_contain_smol {
        .grid2();
    }
}
@media only screen and (min-width: 1369px) {
    /* PC */
    .WIDTH {
        .w40vw();
    } .code {
        ._code(); .v10(); .WIDTH();
    } .header {
        ._header(); font-size: 0.7vw;
    } .content {
        ._content(); font-size: 0.5vw;
    } .warn {
        ._warn(); .v10(); .WIDTH();
    } .foot {
        ._foot(); .v10();
    } .sect {
        ._sect(); .v10(); .WIDTH();
    } .clicky {
        ._clicky(); .v15(); .WIDTH();
    } .linky {
        ._linky(); .v15();
    } .headtitle {
        ._title(); font-size: 20vw;
    } .full {
        width: 100vw; height: 100vh;
    } .full2 {
        width: 100vw; height: 100vh;
    } .tabby button {
        ._tabby_button();
    } .tabby {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .pad(); 
        .bordL(); .textR(); .header(); 
        font-size: 0.7vw;
    } .tabby_block {
        ._tabby_block(); width: 700%;
        .content(); .scroller(); margin-left: 5px;
    } .contact {
        .WIDTH();
    }
    .changes_contain {
        height: 50vh !important; 
        display: flex; 
        flex: 1;
    } .grid5_smol, .grid4_smol, .grid3_smol, .grid2_smol {
        .grid1();
    } .tabby_smol {
        border: 2px solid @blue; ._tabby();
        .font(); .scroller(); .wAUTO();
        .pad(); .textR(); .bordT();
        .header(); .h20vh()
    } .tabby_block_smol {
        ._tabby_block(); .fullW();
        .content(); .scroller(); .h50vh();
        .nordR(); .bordB();
    }
    .changes_contain_smol {
        .grid2();
    }
}

