/*# -=BASE CLASSES=- #*/
.horz {
    left: 0;
    right: 0;
    margin: auto;
}
.pad {
    padding: 5px 10px 5px 10px;
}
.hard {
    box-sizing: border-box;
    word-wrap: break-all;
}
.vert {
    display: table-cell; 
    text-align: center;
    vertical-align: middle;
}
.white {
    color: #ffffffff;
}
.textL {
    text-align: left;
}
.textR {
    text-align: right;
}
.textC {
    text-align: center;
}
.full {
    height: 100vh;
    width: 100vw;
}
.font {
    font-family: 'Ubuntu';
}
/*# -=ELEMENTS=- #*/
body {
    .hard();
    .font();
    font-size: 4vw;
    perspective: 1px;
}
a {
    color: #00ffffff;
}
    
/*# -=DYNAMIC CLASSES=- #*/

._code {
    .horz();
    .hard();
    font-family: 'Ubuntu Mono';
    font-size: 2vw;
    width: 90vw;
    background-color: #303136dd;
    padding: 5px;
    border: 3px solid #292a2eee;
}
._header {
    .white();
    .pad();
    .textL();
    .font();
    font-size: 2vw;
    weight: 600;
}
._content {
    .pad();
    .hard();
    .textL();
    .white();
    .font();
    font-size: 1vw;
}
._sect {
    .horz();
    .pad();
    .hard();
    .white();
    .textC();
    max-height: 0;
    font-size: 1.5vw;
    width: 80vw;
    overflow: hidden;
    transition: max-height .5s ease-out;
    background-color: #00666644;
}
._clicky {
    .horz(); 
    .hard(); 
    .white();
    .pad();
    .textC();
    .font();
    position: relative;
    border: none;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    text-decoration: none;
    font-size: 2vw;
    font-weight: 600;
    width: 80vw;
    overflow: hidden;
    background-color: #00888866;
    cursor: pointer;
    outline: none;
}
._title {
    .white();
    .hard();
    .textC();
    font-size: 13vw;
}
._foot {
    .white();
    .hard();
    .pad();
    .textC();
    .font();
    font-size: 1vw;
}
._consect {
    style: "width: 76vw;";
    width: 76vw;
}
._warn {
    .horz();
    .white();
    .pad();
    .hard();
    .textL();
    .font();
    font-size: 1vw;
    width: 90vw;
    background-color: #ff000088;
}
/*# -=ACTUAL CLASSES=- #*/

.code {._code();}
.header {._header();}
.content {._content();}
.sect {._sect();}
.clicky {._clicky();}
.headtitle {._title();}
.foot {._foot();}
.consect {._consect();}
.warn {._warn();}

/*# -=STATIC CLASSES=- #*/
.clicky:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s;
    border-left: 5px solid #00ffffff;
}
.clicky:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    border-left: 5px solid #00ffffff;
}
.sep {
    height: 5px;
}

@media only screen and (max-width: 600px) {
    /* TABLET / PHONE */
    .code {
        ._code();
        font-size: 3vw;
    }
    .header {
        ._header();
        font-size: 4vw;
    }
    .content {
        ._content();
        font-size: 3vw;
    }
    .warn {
        ._warn();
        font-size: 2vw;
    }
    .foot {
        ._foot();
        font-size: 2vw;
    }
    .sect {
        ._sect();
        font-size: 2.5vw;
    }
    .clicky {
        ._clicky();
        font-size: 3vw;
    }
    .headtitle {
        ._title();
        font-size: 20vw;
    }
    .card {
        width: 100vw;
        height: 50vh;
    }
    .consect {
        style: "width: 73vw;";
        width: 73vw;
    }
}
                
