.note_blue {
    font-size: 70%;
    background-color: #00ffff88;
    border: 2px solid #00ffffaa;
    border-radius: 2px;
}
.note_green {
    font-size: 70%;
    background-color: #0000ff88;
    border: 2px solid #0000ffaa;
    border-radius: 2px;
}
.note_pink {
    font-size: 70%;
    background-color: #ff008888;
    border: 2px solid #ff0088aa;
    border-radius: 2px;
}
.note_red {
    font-size: 70%;
    background-color: #ff000088;
    border: 2px solid #ff0000aa;
    border-radius: 2px;
}
.note_orange {
    font-size: 70%;
    background-color: #ff880088;
    border: 2px solid #ff8800aa;
    border-radius: 2px;
}
.note_yellow {
    font-size: 70%;
    background-color: #ffff0088;
    border: 2px solid #ffff00aa;
    border-radius: 2px;
}
.note_dblue {
    font-size: 70%;
    background-color: #0000ff88;
    border: 2px solid #0000ffaa;
    border-radius: 2px;
}
.note_purple {
    font-size: 70%;
    background-color: #8800ff88;
    border: 2px solid #8800ffaa;
    border-radius: 2px;
}
.note_magenta {
    font-size: 70%;
    background-color: #ff00ff88;
    border: 2px solid #ff00ffaa;
    border-radius: 2px;
}
.note_white {
    font-size: 70%;
    background-color: #eeffff88;
    border: 2px solid #eeffffaa;
    border-radius: 2px;
}
.note_black {
    font-size: 70%;
    background-color: #11222288;
    border: 2px solid #112222aa;
    border-radius: 2px;
}
.note_grey {
    font-size: 70%;
    background-color: #88888888;
    border: 2px solid #888888aa;
    border-radius: 2px;
}
.note_lgrey {
    font-size: 70%;
    background-color: #83959788;
    border: 2px solid #839597aa;
    border-radius: 2px;
}
.note_dgrey {
    font-size: 70%;
    background-color: #586f7588;
    border: 2px solid #586f75aa;
    border-radius: 2px;
}
