@import (reference) "../base/text_align";
@import (reference) "../base/elem_align";
.mdsep {
    height: 8px;
} .mdline {
    .horz();
    height: 4px;
    width: 90%;
    color: #00000000;
    background-color: #11222244;
} .quoted {
    background-color: #11222244;
    border-left: 2px solid #00ffff88;
} embed {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
} table {
    .horz();
    width: 90%;
} tr {
    &:nth-child(even) {
        background-color: #11222244;
    } &:nth-child(odd) {
        background-color: #eeffff44;
    }
} th {
    background-color: #33444488;
    color: #00ffff;
    font-weight: bold;
    .textC();
} .md {
    visibility: none;
} .markall, .markinit, .markelem, .marklink,
  .markbasic, .markadvan, .marksetup,
  .markhead, .markother {
      .md();
}
