@import (reference) "../base/text_align";
.mdline {
    height: 4px;
    width: 90%;
    color: #00000000;
    background-color: #11222288;
} .quoted {
    background-color: #11222288;
    border-left: 2px solid #00ffff88;
} embed {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
} table {
    width:90%;
} tr {
    &:nth-child(even) {
        background-color: #11222244;
    } &:nth-child(odd) {
        background-color: #eeffff44;
    }
} th {
    background-color: #33444488;
    color: #00ffff;
    font-weight: bold;
    .textC();
}
