.head1 {
    font-size: 12vw;
}
.head2 {
    font-size: 10vw;
}
.head3 {
    font-size: 8vw;
}
.head4 {
    font-size: 7vw;
}
.head5 {
    font-size: 6vw;
}
.head6 {
    font-size: 3vw;
}
.oL {
    text-decoration: overline;
}
.spoil {
    color: #112222ff;
    background-color: #112222ff;
    border: 2px solid #223333ff;
    border-radius: 2px;
}
.spoil:hover {
    color: #aabbbbff;
    background-color: #11222244;
    border: 2px solid #22333344;
    border-radius: 2px;
}
