@import (reference) "text_align";
.vert {
    .cell();
    .textC();
    .textM();
}
.horz2 {
    .block();
    .mL(); .mR();
}
.horz {
    .L0();
    .R0();
    margin: auto;
}
.full {
    height: 100vh; 
    width: 100vw;
}
.full2 {
    height: 100vh; 
    width: 100vw;
}
.hard {
    .box();
    .wrap();
}
