.w90vw {width: 90vw;}
.w80vw {width: 80vw;}
.w70vw {width: 70vw;}
.w60vw {width: 60vw;}
.w50vw {width: 50vw;}
.w40vw {width: 40vw;}
.w30vw {width: 30vw;}
.w20vw {width: 20vw;}
.w10vw {width: 10vw;}

.h90vh {height: 90vw;}
.h80vh {height: 80vw;}
.h70vh {height: 70vw;}
.h60vh {height: 60vw;}
.h50vh {height: 50vw;}
.h40vh {height: 40vw;}
.h30vh {height: 30vw;}
.h20vh {height: 20vw;}
.h10vh {height: 10vw;}
