.w90vw {width: 90vw;}
.w80vw {width: 80vw;}
.w70vw {width: 70vw;}
.w60vw {width: 60vw;}
.w50vw {width: 50vw;}
.w40vw {width: 40vw;}
.w30vw {width: 30vw;}
.w20vw {width: 20vw;}
.w10vw {width: 10vw;}

.h90vh {height: 90vh;}
.h80vh {height: 80vh;}
.h70vh {height: 70vh;}
.h60vh {height: 60vh;}
.h50vh {height: 50vh;}
.h40vh {height: 40vh;}
.h30vh {height: 30vh;}
.h20vh {height: 20vh;}
.h10vh {height: 10vh;}

.h90vw {height: 90vw;}
.h80vw {height: 80vw;}
.h70vw {height: 70vw;}
.h60vw {height: 60vw;}
.h50vw {height: 50vw;}
.h40vw {height: 40vw;}
.h30vw {height: 30vw;}
.h20vw {height: 20vw;}
.h10vw {height: 10vw;}

.w90vh {width: 90vh;}
.w80vh {width: 80vh;}
.w70vh {width: 70vh;}
.w60vh {width: 60vh;}
.w50vh {width: 50vh;}
.w40vh {width: 40vh;}
.w30vh {width: 30vh;}
.w20vh {width: 20vh;}
.w10vh {width: 10vh;}

.fullH {height: 100%;}
.fullW {width: 100%;}
.halfH {height: 50%;}
.halfW {width: 50%;}

.wAUTO {width: auto;}
.hAUTO {height: auto;}
.wMAX {width: max-content;}
.wMIN {width: min-content;}
.hMAX {height: max-content;}
.hMIN {height: min-content;}
