.blur {
    -webkit-backdrop-filter: blur(1vw); // Old Safari
    -o-backdrop-filter: blur(1vw);      // Old Opera
    -moz-backdrop-filter: blur(1vw);    // Old Firefox
    -ms-backdrop-filter: blur(1vw);     // Old IE
    backdrop-filter: blur(1vw);         // Modern Browsers
}
.trn {
    -webkit-transition: all 0.75s ease; // Old Safari
    -o-transition: all 0.75s ease;      // Old Opera
    -moz-transition: all 0.75s ease;    // Old Firefox
    -ms-transition: all 0.75s ease;     // Old IE
    transition: all 0.75s ease;         // Modern Browsers
}
